[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-doctor-submitters
	label-Code-Review = -1..+1 group ldap/opnfv-gerrit-doctor-contributors
	label-Verified = -1..+1 group ldap/opnfv-gerrit-doctor-submitters
	submit = group ldap/opnfv-gerrit-doctor-submitters
	read = group GitHub Replication
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-doctor-submitters
	push = group ldap/opnfv-gerrit-doctor-submitters
	pushTag = group ldap/opnfv-gerrit-doctor-submitters
	pushSignedTag = group ldap/opnfv-gerrit-doctor-submitters
	read = group GitHub Replication
[project]
	description = Fault management and maintenance
