[access]
	inheritFrom = All-Projects
[access "refs/for/refs/*"]
	push = group ldap/opnfv-gerrit-doctor-submitters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/opnfv-gerrit-doctor-submitters
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group ldap/opnfv-gerrit-doctor-submitters
	submit = group ldap/opnfv-gerrit-doctor-submitters
[access "refs/tags/*"]
	create = group ldap/opnfv-gerrit-doctor-submitters
	push = group ldap/opnfv-gerrit-doctor-submitters
	pushTag = group ldap/opnfv-gerrit-doctor-submitters
	pushSignedTag = group ldap/opnfv-gerrit-doctor-submitters
