# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
Flask!=0.11 # BSD
paramiko # LGPLv2.1+
scp
requests!=2.20.0 # Apache-2.0
oslo.config!=4.3.0,!=4.4.0 # Apache-2.0
python-openstackclient # Apache-2.0
oslo.messaging # Apache-2.0
oslo.versionedobjects # Apache-2.0
python-ceilometerclient # Apache-2.0
aodhclient # Apache-2.0
python-keystoneclient!=2.1.0 # Apache-2.0
python-neutronclient # Apache-2.0
python-novaclient # Apache-2.0
python-congressclient<2000 # Apache-2.0
python-glanceclient # Apache-2.0
python-vitrageclient # Apache-2.0
virtualenv # MIT
python-heatclient # Apache-2.0
flake8<2.6.0,>=2.5.4 # MIT
